@media only screen and (max-width: 1450px){


.circle__link {
  display: block;
  width: 200px;
  height: 200px;
  top: 70%;
  right: 10%;

}
.textcircle {
  transform-origin: 250px 250px;
  scale: 1.2;
}

}
